Click==7.0    
h11==0.8.1  
httptools==0.0.13 
pip==19.2.1   
setuptools==65.5.1 
starlette==0.12.0   
uvicorn==0.9.0 # https://pypi.org/project/uvicorn
fastapi==0.38.1 # https://pypi.org/project/fastapi
gunicorn==19.9.0 #https://pypi.org/project/gunicorn
requests==2.22.0
idna==2.8
chardet==3.0.4
urllib3==1.25.3